@media all and (max-width: 2000px) {
    .ui-datepicker-prev {
        background-position: 18px -1125px;
    }
    .ui-datepicker-next {
        background-position: -51px -1125px;
    }
    .editor-menu-button {
        padding: 26px;
    }
}
@media all and (max-width: 1620px){
    .section-editor .ui-tabs-nav li {
        width: 90px;
        height: 90px;
    }
    .inner {
        left: 90px;
    }
    .section-editor textarea {
        height: 240px;
    }
    .section-map .map {
        height: 384px;
    }
    .section-navi li {
        height: 94px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 268px;
    }
    .map .mapboxgl-ctrl-top-right {
        top: 2%;
    }
}
@media all and (max-width: 1545px){
    .editor-button {
        padding: 3%;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 260px;
    }
}
@media all and (max-width: 1498px){
    .section-map .map {
        height: 354px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 254px;
    }
    #section-calendar .ui-datepicker-calendar {
        font-size: 1.4rem;
    }
    .section-cats form {
        padding: 2% 6% 8% 6%;
    }
}
@media all and (max-width: 1432px){
    .section-map .map {
        height: 328px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 250px;
    }
    .ui-tabs-nav a {
        font-size: 1rem;
        line-height: 4;
    }
}
@media all and (max-width: 1400px){
    .section-editor .ui-tabs-nav li:last-child {
        height: 246px;
    }
}
@media all and (max-width: 1378px){
    .editor-menu-button {
        padding: 21px;
    }
}
@media all and (max-width: 1359px){
    #section-calendar .ui-datepicker-calendar {
        font-size: 1.3rem;
    }
    .map .mapboxgl-ctrl-top-right {
        right: 86%;
    }
    .section-map .map {
        height: 310px;
    }
    .col1>div {
        margin-bottom: 10%;
    }
}
@media all and (max-width: 1280px) {
    .cats-toggle, .recent-toggle {
        top: 6px;
        right: 6px;
        width: 50px;
        height: 50px;
    }
}
@media all and (max-width: 1249px){
    #section-calendar .ui-datepicker-calendar {
        font-size: 1.1rem;
    }
    .section-map .map {
        height: 276px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 180px;
    }
    .map .mapboxgl-ctrl-top-right {
        right: 84%;
    }
    .col1>div {
        margin-bottom: 12%;
    }
}
@media all and (max-width: 1236px) {
    .cats-toggle, .recent-toggle {
        width: 46px;
        height: 46px;
    }
}
@media all and (max-width: 1200px){
    .editor-button {
        padding: 3% 2%;
    }
    .section-editor .ui-tabs-nav li {
        width: 80px;
        height: 80px;
    }
    .section-navi li {
        height: 80px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 220px;
    }
    .section-map .map {
        height: 290px;
    }
    .inner {
        padding: 0 9%;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }
    #section-calendar .ui-datepicker-header {
        font-size: 1.8rem;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
        height: 3.6rem;
    }
    .col1>div, .col2>div, .col3>div {
        margin-bottom: 8%;
    }
}
@media all and (max-width: 1127px) {
    .cats-toggle, .recent-toggle {
        top: 14px;
        right: 6px;
        width: 28px;
        height: 28px;
    }
    .cats-arrow  {
        left: 8%;
        top: 42%;
    }
    .recent-arrow {
        left: 44%;
        top: 28%;
    }
}
@media all and (max-width: 1093px){
    .editor-menu-button {
        padding: 20px;
    }
}
@media all and (max-width: 1079px) {
    .section-editor .ui-tabs-nav li {
        width: 70px;
        height: 70px;
    }
    .section-navi li {
        height: 70px;
    }
    .inner {
        left: 70px;
    }
    .section-map .map {
        height: 234px;
    }
    #section-calendar .ui-datepicker-calendar {
        font-size: .9rem;
    }
    .section-cats form {
        padding: 1% 6% 3% 6%;
    }
}
@media all and (max-width: 1009px) {
    .section-navi li {
        height: 80px;
    }
    .main {
        padding: 3% 3% 0 3%;
        position: relative;
    }
    .col1 {
        width: 60%;
        padding-bottom: 64%;
    }
    .col2 {
        top: 64.8%;
        position: absolute;
        width: 96%;
        overflow: auto;
        padding-bottom: 6%;
    }
    .col3 {
        width: 34%;
        float: right;
        position: relative;
    }
    .col2 .section-related {
        float: left;
        width: 58.8%;
    }
    .col2 .section-tags {
        position: absolute;
        top: 70%;
        right: 2%;
        margin-bottom: 0;
        padding-bottom: 1%;
    }
    .section-map, .section-tags {
        width: 34%;
    }
    .col2 .section-map {
        float: right;
        margin-right: 2%;
    }
    .section-tags form {
        padding: 0 2%;
    }
    .cats-toggle, .recent-toggle {
        width: 56px;
        height: 56px;
        top: 0;
        right: 0;
    }
    .recent-arrow {
        left: 46%;
        top: 38%;
    }
    .cats-arrow {
        left: 28%;
        top: 48%;
    }
    .editor-menu-button {
        padding: 22px;
    }
}
@media all and (max-width: 929px) {
    .col1 {
        padding-bottom: 68%;
    }
    .col2 {
        top: 65%;
    }
}
@media all and (max-width: 898px) {
    .col1 {
        padding-bottom: 72%;
    }
    .col2 {
        top: 63.8%;
    }
    .map .mapboxgl-ctrl-top-right {
        right: 80%;
    }
    .inner {
        padding: 0 7%;
    }
    .navi-inp {
        width: 90%;
    }
}
@media all and (max-width: 894px) {
    .col2 {
        padding-bottom: 8%;
    }
}
@media all and (max-width: 850px) {
    .section-navi li {
        height: 70px;
    }
}
@media all and (max-width: 850px) and (min-width: 700px) {
    .navi-link1 {
        background-position: center -840px;
    }
    .navi-link2 {
        background-position:  center -923px;
    }
    .navi-link3 {
        background-position: center -998px;
    }
    .navi-inp {
        background-position: -30px -1077px;
    }
}
@media all and (max-width: 810px) {
    .col1 {
        padding-bottom: 74%;
    }
    .col2 {
        top: 65%;
    }
    .add-map-button {
        padding: 1% 1.8%;
        line-height: 2;
    }
    h1, #section-calendar .ui-datepicker-header, .inner h2 {
        font-size: 1.6rem;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
        height: 3.2rem;
    }
    .cats-toggle, .recent-toggle {
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
    }
}
@media all and (max-width: 764px) {
    .ui-tabs-nav a {
        font-size: .9rem;
    }
}
@media all and (max-width: 750px) {
    .section-editor .ui-tabs-nav li {
        width: 64px;
        height: 64px;
    }
    .section-navi li {
        height: 64px;
    }
    .inner {
        left: 64px;
    }
    .col1 {
        padding-bottom: 80%;
    }
    .col2 {
        padding-bottom: 8%;
    }
    ::-webkit-input-placeholder {
        font-size: 1rem;
    }
    ::-moz-placeholder {
        font-size: 1rem;
    }
    :-moz-placeholder {
        font-size: 1rem;
    }
    :-ms-input-placeholder {
        font-size: 1rem;
    }
}
@media all and (max-width: 729px) {
    .col2 {
        padding-bottom: 11%;
    }
}
@media all  and (max-width: 705px) {
    .editor-menu-button {
        padding: 21px;
    }
}
@media all and (max-width: 699px) {
    .main {
        padding: 6% 2%;
    }
    .col1, .col2, .col3 {
        float: none;
        width: 92%;
        margin: 0 auto;
    }
    .col1 {
        margin: 0 auto;
    }
    .col2 {
        position: static;
    }
    .col1, .col2 {
        padding-bottom: 6%;
    }
    .col3 .tab-popular, .col3 .tab-comments, .col3 .tab-recent, .col3 .pop-tab {
        margin-bottom: 0;
    }
    h1, #section-calendar .ui-datepicker-header, .inner h2 {
        font-size: 2rem;
    }
    .col2 .section-tags {
        position: static;
    }
    .inner {
        left: 80px;
        padding: 0 9%;
    }
    .section-editor .ui-tabs-nav li {
        width: 80px;
        height: 80px;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 268px;
    }
    .section-navi li {
        height: 88px;
    }
    .section-navi .notice {
        width: 1vw;
        height: 1vw;
    }
    .col2 .section-related, .section-map, .section-tags {
        width: 100%;
    }
    .col2 .section-related {
        float: none;
    }
    .col2 .section-tags {
        margin-bottom: 8%;
    }
    .col2 .section-map {
        margin-right: 0;
    }
    .section-map .map {
        height: 384px;
    }
    .map .mapboxgl-ctrl-top-right {
        top: 4%;
        right: 88%;
    }
    .ui-tabs-nav a {
        font-size: 1rem;
    }
    .section-pop .o-flow {
        padding: 2% 1%;
    }
    .section-pop .o-flow div:first-child {
        width: 16%;
    }
    .cats-toggle, .recent-toggle {
        width: 64px;
        height: 64px;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
        width: 64px;
        height: 4rem;
        padding: 0;
    }
    #section-calendar .ui-datepicker-calendar {
        font-size: 1.2rem;
    }
    #section-calendar .ui-datepicker-header {
        width: calc(100% - 1px);
    }
    .sub-inp {
        padding: 2% 0 2% 4%;
    }
    .cats-arrow {
        left: 32%;
    }
    .recent-arrow {
        left: 48%;
        top: 40%;
    }
    .section-editor .ui-tabs-nav .speed {
        background-position: center -17px;
    }
    .section-editor .ui-tabs-nav .speed:active, .section-editor .ui-tabs-nav .speed:focus {
        background-position: center -95px;
    }
    .section-editor .ui-tabs-nav .doc {
        background-position: center -172px;
    }
    .section-editor .ui-tabs-nav .doc:active, .section-editor .ui-tabs-nav .doc:focus {
        background-position: center -252px;
    }
    .section-editor .ui-tabs-nav .landscape {
        background-position: center -347px;
    }
    .section-editor .ui-tabs-nav .landscape:active, .section-editor .ui-tabs-nav .landscape:focus {
        background-position: center -430px;
    }
    .section-editor .ui-tabs-nav .chain {
        background-position: center -521px;
    }
    .section-editor .ui-tabs-nav .chain:active, .section-editor .ui-tabs-nav .chain:focus {
        background-position: center -591px;
    }
    .section-editor .ui-tabs-nav .chat {
        background-position: center -669px;
    }
    .section-editor .ui-tabs-nav .chat:active, .section-editor .ui-tabs-nav .chat:focus {
        background-position: center -748px;
    }
    .editor-menu-button {
        padding: 23px;
    }
}
@media all and (max-width: 590px) {
    .section-navi li {
        height: 80px;
    }
    .section-pop .o-flow {
        padding: 4% 1%;
    }
    .inner {
        padding: 0 7%;
    }
    .section-editor .ui-tabs-nav li:last-child {
        height: 220px;
    }
    .navi-link1 {
        background-position: center -836px;
    }
    .navi-link2 {
        background-position: center -918px;
    }
    .navi-link3 {
        background-position: center -993px;
    }
    .navi-inp {
        background-position: -30px -1080px;
    }
}
@media all and (max-width: 549px) {
    .section-editor .ui-tabs-nav li {
        width: 70px;
        height: 70px;
    }
    .inner {
        left: 70px;
    }
    .section-editor .ui-tabs-nav .speed {
        background-position: center -21px;
    }
    .section-editor .ui-tabs-nav .speed:active, .section-editor .ui-tabs-nav .speed:focus {
        background-position: center -99px;
    }
    .section-editor .ui-tabs-nav .doc {
        background-position: center -178px;
    }
    .section-editor .ui-tabs-nav .doc:active, .section-editor .ui-tabs-nav .doc:focus {
        background-position: center -258px;
    }
    .section-editor .ui-tabs-nav .landscape {
        background-position: center -352px;
    }
    .section-editor .ui-tabs-nav .landscape:active, .section-editor .ui-tabs-nav .landscape:focus {
        background-position: center -435px;
    }
    .section-editor .ui-tabs-nav .chain {
        background-position: center -526px;
    }
    .section-editor .ui-tabs-nav .chain:active, .section-editor .ui-tabs-nav .chain:focus {
        background-position: center -596px;
    }
    .section-editor .ui-tabs-nav .chat {
        background-position: center -675px;
    }
    .section-editor .ui-tabs-nav .chat:active, .section-editor .ui-tabs-nav .chat:focus {
        background-position: center -754px;
    }
}
@media all and (max-width: 520px) {
    .section-navi li {
        height: 70px;
    }
    .map .mapboxgl-ctrl-top-right {
        right: 86%;
    }
    .section-navi .notice {
        width: 1.4vw;
        height: 1.4vw;
        right: 26%;
        top: 30%;
    }
    .navi-inp {
        height: 30px;
    }
    .navi-link1 {
        background-position: center -841px;
    }
    .navi-link2 {
        background-position: center -924px;
    }
    .navi-link3 {
        background-position: center -999px;
    }
    .navi-inp {
        background-position: -30px -1082px;
    }
}
@media all and (max-width: 507px) {
    .editor-button {
        margin: 2%;
    }
    .editor-button.editor-right {
        float: left;
    }
    .editor-mid {
        float: right;
    }
    .editor-left {
        margin-right: 20%;
    }
}
@media all and (max-width: 500px) {
    .inner {
        padding: 0 6%;
    }
    .section-map .map {
        height: 310px;
    }
}
@media all and (max-width: 479px) {
    .section-editor .ui-tabs-nav li {
        width: 66px;
        height: 66px;
    }
    .section-navi li {
        height: 64px;
    }
    h1, #section-calendar .ui-datepicker-header, .inner h2 {
        font-size: 1.8rem;
    }
    .cats-toggle, .recent-toggle, .ui-datepicker-prev, .ui-datepicker-next {
        width: 56px;
        height: 56px;
    }
    .cats-arrow {
        left: 28%;
    }
    .navi-link1 {
        background-position: center -845px;
    }
    .navi-link2 {
        background-position: center -927px;
    }
    .navi-link3 {
        background-position: center -1002px;
    }
    .navi-inp {
        background-position: -30px -1084px;
    }
    .section-navi .notice {
        right: 24%;
        top: 28%;
    }
}
@media all and (max-width: 469px) {
    .editor-menu-button {
        padding: 21px;
    }
    .bold {
        background-position: center -1257px;
    }
    .italic {
        background-position:  center -1304px;
    }
    .underlined {
        background-position:  center -1351px;
    }
    .strike-through {
        background-position:  center -1398px;
    }
    .unordered {
        background-position:  center -1503px;
    }
    .ordered {
        background-position:  center -1451px;
    }
}
@media all and (max-width: 459px) {
    .section-editor .ui-tabs-nav li {
        width: 64px;
        height: 64px;
    }
    .inner {
        left: 64px;
    }
    .section-navi li {
        height: 62px;
    }
    .section-navi .notice {
        width: 1.4vw;
        height: 1.4vw;
        right: 20%;
    }
    .section-navi .notice {
        width: 1.6vw;
        height: 1.6vw;
    }
}
@media all and (max-width: 440px) {
    ::-webkit-input-placeholder {
        font-size: .86rem;
    }
    ::-moz-placeholder {
        font-size: .86rem;
    }
    :-moz-placeholder {
        font-size: .86rem;
    }
    :-ms-input-placeholder {
        font-size: .86rem;
    }
    .section-navi .notice {
        width: 1.6vw;
        height: 1.6vw;
        right: 16%;
    }
    .section-navi li {
        height: 60px;
    }
    .navi-link1 {
        background-position: center -846.8px;
    }
    .navi-link2 {
        background-position: center -929px;
    }
    .navi-link3 {
        background-position: center -1004px;
    }
    .navi-inp {
        background-position: -30px -1084px;
    }
    .section-navi .notice {
        right: 19%;
        top: 27%;
    }
}
@media all and (max-width: 469px) {
    .editor-menu-button {
        padding: 19px;
    }
}
@media all and (max-width: 428px) {
    .section-editor .ui-tabs-nav li:last-child {
        height: 260px;
    }
}
@media all and (max-width: 420px) {
    .section-editor .ui-tabs-nav li {
        width: 60px;
        height: 58px;
    }
    .inner {
        left: 60px;
    }
}
@media all and (max-width: 410px) {
    .section-navi li {
        height: 56px;
    }
    .col1, .col2, .col3 {
        width: 94%;
    }
    .navi-link1 {
        background-position: center -849px;
    }
    .navi-link2 {
        background-position: center -931.8px;
    }
    .navi-link3 {
        background-position: center -1006.9px;
    }
    .navi-inp {
        background-position: -30px -1084px;
    }
}
@media all and (max-width: 390px) {
    .section-map .map {
        height: 234px;
    }
    .map .mapboxgl-ctrl-top-right {
        right: 84%;
    }
    .navi-inp {
        height: 26px;
    }
    .section-navi li {
        height: 52px;
    }
    .section-editor .ui-tabs-nav li {
        width: 56px;
        height: 54px;
    }
    .inner {
        left: 56px;
    }
    .section-editor textarea {
        height: 200px;
    }
    .navi-link1 {
        background-position: center -851px;
    }
    .navi-link2 {
        background-position: center -934px;
    }
    .navi-link3 {
        background-position: center -1008.9px;
    }
    .navi-inp {
        background-position: -30px -1086px;
    }
    .section-navi .notice {
        width: 1.8vw;
        height: 1.8vw;
        right: 18%;
        top: 22%;
    }
    h1, #section-calendar .ui-datepicker-header, .inner h2 {
        font-size: 1.6rem;
    }
    .cats-toggle, .recent-toggle, .ui-datepicker-prev, .ui-datepicker-next {
        width: 50px;
        height: 50px;
    }
    .section-pop .o-flow {
        padding: 8% 1%;
    }
    .section-pop .o-flow div:first-child {
        width: 22%;
    }
    .ui-datepicker-prev {
        background-position: 10px -1130px;
    }
    .ui-datepicker-next {
        background-position: -58px -1128px;
    }
}
@media all and (max-width: 381px) {
    .editor-menu-button {
        padding: 17px;
    }
    .bold {
        background-position: center -1259px;
    }
    .italic {
        background-position:  center -1305px;
    }
    .underlined {
        background-position:  center -1353px;
    }
    .strike-through {
        background-position:  center -1400px;
    }
    .unordered {
        background-position:  center -1505px;
    }
    .ordered {
        background-position:  center -1453px;
    }
}
@media all and (max-width: 380px) {
    .sub-inp {
        padding: 2% 0 2% 1%;
    }
}
@media all and (max-width: 376px) {
    .editor-left {
        margin-right: 14%;
    }
}
@media all and (max-width: 370px) {
    ::-webkit-input-placeholder {
        font-size: .68rem;
    }
    ::-moz-placeholder {
        font-size: .68rem;
    }
    :-moz-placeholder {
        font-size: .68rem;
    }
    :-ms-input-placeholder {
        font-size: .68rem;
    }
    .section-navi li {
        height: 48px;
    }
    .navi-inp {
        height: 22px;
        width: 96%;
    }
    .section-editor .ui-tabs-nav li {
        width: 50px;
        height: 50px;
    }
    .inner {
        left: 50px;
        padding: 0 5%;
    }
    .section-editor textarea {
        height: 180px;
    }
    .navi-link1 {
        background-position: center -853px;
    }
    .navi-link2 {
        background-position: center -936px;
    }
    .navi-link3 {
        background-position: center -1010.9px;
    }
    .navi-inp {
        background-position: -30px -1088.6px;
    }
    .section-navi .notice {
        top: 20%;
    }
}
@media all and (max-width: 350px) {
    .section-navi li {
        height: 44px;
    }
    .section-editor .ui-tabs-nav li {
        width: 40px;
        height: 40px;
    }
    .inner {
        left: 40px;
    }
    .navi-link1 {
        background-position: center -855px;
    }
    .navi-link2 {
        background-position: center -937px;
    }
    .navi-link3 {
        background-position: center -1012.9px;
    }
}
@media all and (max-width: 340px) {
    .map .mapboxgl-ctrl-top-right {
        right: 82%;
    }
}
@media all and (max-width: 338px) {
    .editor-menu-button {
        padding: 16px;
    }
    .bold {
        background-position: center -1260px;
    }
    .italic {
        background-position:  center -1307px;
    }
    .underlined {
        background-position:  center -1354px;
    }
    .strike-through {
        background-position:  center -1401px;
    }
    .unordered {
        background-position:  center -1506px;
    }
    .ordered {
        background-position:  center -1454px;
    }
}
@media all and (max-width: 334px) {
    .map .mapboxgl-ctrl-top-right {
        right: 82%;
    }
    .editor-left {
        margin-right: 10%;
    }
}
@media all and (max-width: 320px) {
    #section-calendar .ui-datepicker-header {
        width: 100%;
    }
}